.buttonCard {
    width: 100%;
    height: calc(100% - 130px);
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 14px;
    background-color: aqua;
  }